.game-grid {
    background-color: pink;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    border: 1px solid red;
    width: 50vmin;
    height: 50vmin;
    display: grid;
}

.snake {
    background-color: lightblue;
    border: 1px solid blue;
}

.snake-tail {
    background-color: rgb(47, 193, 241);
    border: 1px solid rgb(62, 62, 182);
}

.food {
    background-color: lightyellow;
    border: 1px solid yellow;
}

#game-over {
    position: absolute;
    top: 35%;
}

#game-reset{
    position: absolute;
    top: 55%; 
}