/* .game-grid {
    border: 2px solid black;
} */


.game-grid {
    background-color: pink;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    border: 1px solid red;
    width: 50vmin;
    height: 50vmin;
    display: grid;
}

.snake {
    background-color: lightblue;
    border: 1px solid blue;
    /* grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; */
}

.snake-tail {
    background-color: lightblue;
    border: 1px solid blue;
}

.food {
    background-color: lightyellow;
    border: 1px solid yellow;
    /* grid-column-start: 8;
    grid-column-end: 8;
    grid-row-start: 8;
    grid-row-end: 8; */
}